<div class="bg-dark border-right p-3" id="sidebar">
  <h3 class="text-light">TestSantanderApp</h3>
  <hr class="text-light">

  <div class="list-group list-reset">
    <button class="list-group-item list-group-item-action" routerLink="" routerLinkActive="router-link-active" >
      Inicio
    </button>
    <button class="list-group-item list-group-item-action" routerLink="/newProduct" routerLinkActive="router-link-active" >
      Nuevo Producto
    </button>
    <button class="list-group-item list-group-item-action" routerLink="/chart" routerLinkActive="router-link-active" >
      Chart
    </button>
  </div>
</div>
